/* postStyles.css */
.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }
  
  .post-author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .post-content {
    font-size: 14px;
    position: relative; /* Add position property */
    padding-right: 20px; /* Add padding to create space on the right side */
  }

  .post-content textarea {
    /* Styles for textarea when in edit mode */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

/* Styles for "Save" and "Cancel" buttons */
.edit-buttons {
  display: flex;
  
  justify-content: flex-end;
  margin-top: 10px; /* Add some top margin */
}

.edit-buttons button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing between buttons */
}

.post-photo {
    display: block;
    max-width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }



/* .post-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  } */
  
  /* .post-option {
    display: flex;
    align-items: center;
    color: #007bff; 
    cursor: pointer;
  } */
  
  /* .option-icon {
    margin-right: 5px;
  } */



.post-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-option {
  display: flex;
  align-items: center;
  color: #007bff; /* Like option color */
  cursor: pointer;
}

.option-icon {
  margin-right: 5px;
}

.post-option.like {
  color: #007bff;
}

.post-option.like .option-icon {
  color: #007bff;
}

.likes-count {
  color: #555;
  font-size: 12px;
  margin-left: 5px;
}
/* postStyles.css */

/* ... (other styles) */

.more-icon {
  cursor: pointer;
  /* color: #007bff; */
  position: absolute;
  top: 8px;
  right: 8px;
}

/* ... (other styles) */


  
  
  